.aboutme_dark{
    font-size: 22px;
    background: -webkit-linear-gradient( #33ccff 0%, #ff99cc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .aboutme_light{
    font-size: 22px;
    background: -webkit-linear-gradient(#A8D0E6 0%, #DEF2F1 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }