
  .textStyle {
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    font-family: Hack, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(90deg, #C1C8E4, #5AB9EA, #C1C8E4);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 12s linear infinite;
    /* position: relative; */
  }
  
  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }


  .variant{
    font-size: 22px;
    background: -webkit-linear-gradient(#C1C8E4, #5AB9EA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* animation: mymove 5s infinite; */
  }
/* 
  @keyframes mymove {
    from {background-color: #5680E9;}
  to {background-color: #5AB9EA;}
    
  } */

  .link {
    width: auto;
    /* padding: 15px 15px; */
    padding: 10px 15px;
    position: relative;
    display: block;
    text-decoration: none;
    overflow: hidden;
    background-color: linear-gradient(to left, #8860D0, #5680E9 100%);;
    border-radius: 20px;
    
  }
  
  .link:hover .wave {
    /* text-decoration: none; */
    top: -120px;
    background-color: linear-gradient(to left,#5680E9, #8860D0  100%);
  }

  .link span {
    position: relative;
    z-index: 1;
    /* color: white; */
    font-size: 15px;
    letter-spacing: 2px;
   
  }
  .link .wave {
    width: 180px;
    height: 200px;
    background: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
    /* box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5); */
    position: absolute;
    left: 0;
    top: -80px;
    transition: 0.4s;
    border-radius: 10px;
  }
  .link .wave::before, .link .wave::after {
    width: 180%;
    height: 200%;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
  }
  .link .wave::before {
    border-radius: 45%;
    /* background-color: #141414; */
    background-color: #84CEEB;

    animation: wave 5s linear infinite;
  }
  .link .wave::after {
    border-radius: 40%;
    /* background-color: rgba(20, 20, 20, 0.5); */
    background-color: #8860D0;

    animation: wave 10s linear infinite;
  }
  @keyframes wave {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }

  .data{
    /* position: relative; */
    background:linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
    border-radius: 10px;
    transition: linear 3s;
    /* text-decoration: none;
    border: none; */
  }

  .data:hover{
    background:linear-gradient(to right,#ff99cc, #33ccff 0%,  100%);
  }

